.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}

.left {
  background: var(--main-color-light);
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}

.login {
  font-size: var(--main-text-font-size);
  font-weight: var(--main-text-font-weight);
  margin: 50px 40px 40px;
}

.text {
  color: var(--text-color-medium);
  font-size: var(--regular-text-font-size);
  line-height: 1.5;
  margin: 40px;
}

.right {
  background: var(--main-color-dark);
  box-shadow: 0 0 40px 16px rgba(0,0,0,0.22);
  color: var(--text-color-light);
  position: relative;
  width: 50%;
}

@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

.form {
  margin: 40px;
  position: absolute;
}

label {
  color: var(--main-color-light);
  display: block;
  font-size: var(--regular-text-font-size);
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color-light);
  color: var(--text-color-light);
  font-size: var(--regular-text-font-size);
  height: 30px;
  line-height: 30px;
  outline: none;
  margin-bottom: 30px;
  width: 100%;
}

#submit {
  border-radius: 24px;
  border: 0;
  width: 240px;
  text-align: center;
  background-color: var(--main-color-light);
  color:  var(--main-color-dark);
  font-size:  var(--regular-text-font-size);
  font-weight: var(--regular-text-font-weight);
  box-shadow:  0 2px 6px -1px rgba(0,0,0,.13);
  transition:  all .3s ease;
  cursor: pointer;
}

#submit:disabled {
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  cursor: not-allowed;
}

#submit:not([disabled]):hover {
  box-shadow: 0 2px 6px -1px rgba(0,0,0,.13);
}

#submit:not([disabled]):active {
  transform: scale(.95);
}

#error {
  visibility: hidden;
  position: fixed;
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  text-align: center;
  padding: 16px;
  top: 30px;
  z-index: 1;
}

#error.show {
  visibility: visible;
  animation: fadein 1s, fadeout 1s 4.5s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
