<div class="page">
  <div class="container" [formGroup]="form">
    <div class="left">
      <div class="login">Логин</div>
      <div class="text">{{message ? message : 'Введите имя или логин для просмотра имени пользователя'}}</div>
    </div>
    <div class="right">
      <form class="form" (submit)="login()">
        <label for="login">Имя/Логин</label>
        <input type="text" id="login" formControlName="login" (ngModelChange)="resetUserName()" placeholder="Введите имя/логин...">
        <input type="submit" id="submit" [disabled]="!form.valid || disabled" [value]="sendButtonValue | async">
      </form>
    </div>
  </div>
  <div id="error">Неверное имя или логин, вы сможете повторить попытку через 1 минуту.</div>
</div>
